<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="google-site-verification" content="iPs61v3hykiEZMnCl4W2izgZzaXLNbJRNLHvi9_-UUs" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="white" />
  <meta name="apple-mobile-web-app-title" content="" />
  <meta name="robots" content="noindex" />
  <meta property="al:ios:url" content="shopeetw://home?navRoute=eyJwYXRocyI6IFt7IndlYk5hdiI6IHsidXJsIjogImh0dHBzOi8vc2hvcGVlLnR3L3BjX2V2ZW50Lz91cmw9aHR0cHMlM0ElMkYlMkZzaG9wZWUudHclMkZldmVudHMzJTJGY29kZSUyRjI4ODM3NDk0NzQlMkYlM0ZzbXR0JTNEOS4mc210dD05LiZfZ3NyYz1odHRwcyUzQS8vc2hvcGVlLnR3L3BjX2V2ZW50LyUzRnVybCUzRGh0dHBzJTI1M0ElMjUyRiUyNTJGc2hvcGVlLnR3JTI1MkZldmVudHMzJTI1MkZjb2RlJTI1MkYyODgzNzQ5NDc0JTI1MkYlMjUzRnNtdHQlMjUzRDkuJTI2c210dCUzRDkuIn19XX0%3D" />
  <meta property="al:ios:app_store_id" content="959841107" />
  <meta property="al:android:url" content="shopeetw://home?navRoute=eyJwYXRocyI6IFt7IndlYk5hdiI6IHsidXJsIjogImh0dHBzOi8vc2hvcGVlLnR3L3BjX2V2ZW50Lz91cmw9aHR0cHMlM0ElMkYlMkZzaG9wZWUudHclMkZldmVudHMzJTJGY29kZSUyRjI4ODM3NDk0NzQlMkYlM0ZzbXR0JTNEOS4mc210dD05LiZfZ3NyYz1odHRwcyUzQS8vc2hvcGVlLnR3L3BjX2V2ZW50LyUzRnVybCUzRGh0dHBzJTI1M0ElMjUyRiUyNTJGc2hvcGVlLnR3JTI1MkZldmVudHMzJTI1MkZjb2RlJTI1MkYyODgzNzQ5NDc0JTI1MkYlMjUzRnNtdHQlMjUzRDkuJTI2c210dCUzRDkuIn19XX0%3D" />
  <meta property="al:android:package" content="com.shopee.tw" />

</head>

<body>
test

</body>
</html>
