<!DOCTYPE html>
<html>
<head>
</body>
DrawDraw API<br>

image upload<br>
<form action="/api/v1/images" enctype="multipart/form-data" method="post">
  <input type="file" name="image" multiple="multiple"><br>
  <input type="submit" value="Upload">
</form>

</form>

</body>
</html>
