<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="google-site-verification" content="iPs61v3hykiEZMnCl4W2izgZzaXLNbJRNLHvi9_-UUs" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="white" />
  <meta name="apple-mobile-web-app-title" content="" />
  <meta name="robots" content="noindex" />
  <meta property="al:ios:url" content="shopeetw://home?navRoute=eyJwYXRocyI6IFt7IndlYk5hdiI6IHsidXJsIjogImh0dHBzOi8vc2hvcGVlLnR3L3BjX2V2ZW50Lz91cmw9aHR0cHMlM0ElMkYlMkZzaG9wZWUudHclMkZldmVudHMzJTJGY29kZSUyRjI4ODM3NDk0NzQlMkYlM0ZzbXR0JTNEOS4mc210dD05LiZfZ3NyYz1odHRwcyUzQS8vc2hvcGVlLnR3L3BjX2V2ZW50LyUzRnVybCUzRGh0dHBzJTI1M0ElMjUyRiUyNTJGc2hvcGVlLnR3JTI1MkZldmVudHMzJTI1MkZjb2RlJTI1MkYyODgzNzQ5NDc0JTI1MkYlMjUzRnNtdHQlMjUzRDkuJTI2c210dCUzRDkuIn19XX0%3D" />
  <meta property="al:ios:app_store_id" content="959841107" />
  <meta property="al:android:url" content="shopeetw://home?navRoute=eyJwYXRocyI6IFt7IndlYk5hdiI6IHsidXJsIjogImh0dHBzOi8vc2hvcGVlLnR3L3BjX2V2ZW50Lz91cmw9aHR0cHMlM0ElMkYlMkZzaG9wZWUudHclMkZldmVudHMzJTJGY29kZSUyRjI4ODM3NDk0NzQlMkYlM0ZzbXR0JTNEOS4mc210dD05LiZfZ3NyYz1odHRwcyUzQS8vc2hvcGVlLnR3L3BjX2V2ZW50LyUzRnVybCUzRGh0dHBzJTI1M0ElMjUyRiUyNTJGc2hvcGVlLnR3JTI1MkZldmVudHMzJTI1MkZjb2RlJTI1MkYyODgzNzQ5NDc0JTI1MkYlMjUzRnNtdHQlMjUzRDkuJTI2c210dCUzRDkuIn19XX0%3D" />
  <meta property="al:android:package" content="com.shopee.tw" />

</head>

<script>

autoOpen();
function autoOpen()
{
	if(true)
	{
		window.location = "https://tw.bid.yahoo.com/tw/booth/%E5%AE%B6%E6%9C%89%E8%A6%81%E4%BA%8B%EF%BC%81%E8%B3%A3%E5%A0%B4%E5%85%AC%E4%BC%91%EF%BC%81-Y7239052714?co_servername=apm_FBBIZp_17071003&co_servername2=fbad_p0710bizm&utm_source=facebook&utm_medium=fbad_pbizm&utm_campaign=170710appfreeshipping03";

        t = setTimeout(function(){func(false);}, 5000); //5 seconds because iOS9.2 would cancel deep link if we change href before user interaction to the "Open/Cancel" dialog.
	}
}

function fallback(isFromClick)
{
		window.location = "https://tw.bid.yahoo.com/tw/booth/%E5%AE%B6%E6%9C%89%E8%A6%81%E4%BA%8B%EF%BC%81%E8%B3%A3%E5%A0%B4%E5%85%AC%E4%BC%91%EF%BC%81-Y7239052714?co_servername=apm_FBBIZp_17071003&co_servername2=fbad_p0710bizm&utm_source=facebook&utm_medium=fbad_pbizm&utm_campaign=170710appfreeshipping03";
}

</script>

<body>
test

</body>
</html>
